uspto_name.csv
comp_name.csv
match_pool
__coname__.csv
uspto_merged.csv
Untitled.ipynb
coname.csv
names.csv
process_name.ipynb
test.csv
test2.csv
uspto.csv
base_name.csv
__coname__.csv
contributor_name.csv
matched.csv
__coname__.csv
process_name.ipynb
